{% extends "bootstrap/base.html" %}		
{% block title %}Coupon Submission{% endblock %}
{% block content %}
	<style> html, body { height: 100%; } </style>
	<div class="container" style="display: table; height: 100%">
		<div class="row" style="display: table-cell; vertical-align: middle;">
			<div align="middle">
				<h1><b>Hello {{ name }}</b></h1>
				<p class="lead">Welcome to the <br/>Coupon Submission Portal.</p>
				<form action="" method="post" novalidate>
					<div class="form-group">
						{{ form.code(size=32) }}
					</div>
					{{ form.submit() }}
				</form>
			</div>
		</div>
	</div>
{% endblock %}

